.description {
  margin: auto;
  max-width: 360px;
  margin-top: 32px;
  padding-top: 16px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 4px;
  background-color: #fff;
}

.avatar {
  display: block;
  margin: 0 auto;
  padding: 5px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #e2e8ef;
}

.name {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
}

.text {
  margin-top: 16px;
  color: #757575;
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  background-color: #f2f6fa;
}

.statsCell {
  width: 120px;
  display: block;
  text-align: center;
  border-top: 1px solid #e2e8ef;
  border-left: 1px solid #e2e8ef;
  padding-top: 32px;
  padding-bottom: 32px;
}

.label {
  display: block;
  margin-bottom: 6px;
  text-align: center;
  color: #757575;
}

.quantity {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
